#container {
  /* display: block; */
  border: 10px #333 solid;
}

.inputElement {
  visibility:hidden;
  z-index: 3;
  position: fixed;
}
.outputElement {
  background-color: #666;
  z-index: 5;
  border: 10px #333 solid;
}

.video-control {
  width: 6em!important;
}
