h1 {
  font-family: sans-serif;
  color: #666;
}

#container {
  display: block;
  overflow: auto;
  border: 10px #333 solid;
}

.videoElement {
  /* width: 500px;
  height: 375px; */
  float: left;
  background-color: #666;
}

.video-control {
  width: 6em!important;
}
