<div class="content">
  <video #videoElement class="inputElement" (resize)="updateCanvas()"></video>
  <canvas #processedCanvas class="outputElement" (window:resize)="resizeCanvas()"></canvas>
</div>
<div class="controls">
  <button mat-stroked-button *ngIf="!videoPlaying" (click)="resume()" color="primary" class="video-control">Play</button>
  <button mat-stroked-button *ngIf="videoPlaying" (click)="pause()" color="warn" class="video-control">Pause</button>
  <mat-label class="mat-body"> Quality:</mat-label>
  <mat-slider thumbLabel min="0" max="1" step="0.01" color="primary" [(value)]="quality" (change)="updateUnprocessedCanvas()"></mat-slider>
</div>
