<li>
  <p
    [class.selected]="filter.selected"
    class="capitalize"
    (click)="showModels(filter)">
    {{filter.name}}
    <span
      [class.badge]="filter.selectedModel">
      {{filter.selectedModel}}
    </span>
  </p>
  <mat-slider *ngIf="filter.selectedModel" thumbLabel min="0" max="1" step="0.01" [(value)]="filter.thresholdValue"></mat-slider>
  <ul *ngIf="filter.selected" class="models">
    <li *ngFor="let model of filter.models">
      <p
      [class.selected]="filter.selectedModel==model"
      (click)="selectModels(model)"
      class="model">
      {{model}}
    </p>
    </li>
  </ul>
</li>
