<li>
  <p
    [class.selected]="filter.selected"
    class="capitalize"
    (click)="showModels(filter)">
    {{filter.name}}
    <span
      [class.badge]="filter.selectedModel">
      {{filter.selectedModel}}
    </span>
  </p>
  <ul *ngIf="!filter.selected && filter.selectedModel && filter.progress_bars" style="padding-inline-start: 0em;">
    <li *ngFor="let progress_bar of filter.progress_bars">
      <mat-label>{{ progress_bar.name }}</mat-label>
      <mat-slider *ngIf="filter.selectedModel" thumbLabel min="0" max="1" step="0.01" color="primary" [(value)]="progress_bar.value"></mat-slider>
    </li>
    <li *ngFor="let check_box of filter.check_boxes">
      <mat-label>{{ check_box.name }}</mat-label>
      <mat-slide-toggle *ngIf="filter.selectedModel"
        color="primary"
        [checked]="check_box.checked"
        (change)="check_box.checked = !check_box.checked">
      </mat-slide-toggle>
    </li>
  </ul>
  <ul *ngIf="filter.selected" class="models">
    <li *ngFor="let model of filter.models">
      <p
      [class.selected]="filter.selectedModel==model"
      (click)="selectModels(model)"
      class="model">
      <mat-label>{{model}}</mat-label>
      </p>
    </li>
  </ul>
</li>
