.capitalize {
  text-transform: capitalize;
}
.model{
  width: 7em;
}
li{
  list-style-type: none;
}
p {
  padding: 0;
  width: 10em;
  cursor: pointer;
  left: 0em;
  background-color: #EEE;
  margin: .25em 0em 0em 0em;
  padding: .25em 0em 0em 0em;
  height: 1.6em;
  border-radius: 4px;
  padding-left: .25em;
}
p:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
p.selected {
  background-color: #CFD8DC;
}
p.selected:hover {
  background-color: #BBD8DC;
}
.models {
  /* padding: 0em 0em 0em 0em; */
  margin: 0em 0em 1em 0.5em;
}
.badge {
  float: right;
  background-color:#ff0000;
  position: relative;
  top: -4px;
  height: 1.6em;
  border-radius: 0px 4px 4px 0px;
  padding: .25em 0em 0em 0em;
  color: #ffffff;
  width: 5em;
  padding-left: .25em;
}
