<mat-expansion-panel class="menuItem">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{filter.name}}
    </mat-panel-title>
    <mat-panel-description>
      {{filter.selectedModel}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ul *ngIf="filter.selectedModel && filter.progress_bars">
    <li *ngFor="let progress_bar of filter.progress_bars">
      <mat-label>{{ progress_bar.name }}</mat-label>
      <mat-slider *ngIf="filter.selectedModel" thumbLabel min="0" max="1" step="0.01" color="primary" [(value)]="progress_bar.value"></mat-slider>
    </li>
    <li *ngFor="let check_box of filter.check_boxes">
      <mat-label>{{ check_box.name }}</mat-label>
      <mat-slide-toggle class="modelToggle" *ngIf="filter.selectedModel"
        color="primary"
        [checked]="check_box.checked"
        (change)="check_box.checked = !check_box.checked">
      </mat-slide-toggle>
    </li>
  </ul>
  <mat-form-field appearance="fill">
    <mat-label>Model name</mat-label>
    <mat-select [(value)]="filter.selectedModel">
      <mat-option [value]=""></mat-option>
      <mat-option *ngFor="let model of filter.models" [value]="model">
        {{model}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-expansion-panel>
