mat-slider {
  top: -1em;
  height: 1em;
  width: 8em;
  float:right;
}
mat-slide-toggle {
  float: right;
  height: 1em;
}
.menuItem .mat-expansion-panel-header {
  text-transform: capitalize;
  padding: 0.0em 1em 0.0em 0.6em;
}
.menuItem .mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  flex-basis: 0;
}
ul {
  padding-inline-start: 0em;
  list-style-type: none;
}
li {
  padding: 0.0em 0em 0.1em 0em;
}
