/* FiltersComponent's private CSS styles */
.filters {
  margin: 0 0 0 0;
  list-style-type: none;
  padding: 0;
  width: 10em;
}
.filters li {
  cursor: pointer;
  position: relative;
  left: 0em;
  display: flex;
  align-items: center;
  background-color: #EEE;
  margin: .25em;
  padding: .25em .25em;
  height: 1.6em;
  border-radius: 4px;
}
.filters li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.filters li.selected {
  background-color: #CFD8DC;
  color: white;
}
.filters li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.filters .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
